<?xml version="1.0" encoding="utf-8" ?>
<tomnet>
  <data>
    <contexts>
      <context name="default" enabled="true" connectionStringName="default" type="TomNet.Data.Entity.DefaultDbContext,TomNet.Data.Entity">
        <initializer type="TomNet.Data.Entity.DefaultDbContextInitializer, TomNet.Data.Entity" mapperFiles="Source.Core,Source.Model">
          <createInitializer type="Source.Core.Data.CreateDatabaseIfNotExistsWithSeed,Source.Core"/>
        </initializer>
      </context> 
    </contexts>
  </data>
  <logging>
    <entry enabled="true" level="Debug"/>
    <basic>
      <adapters>
        <adapter name="log4net" enabled="true" type="TomNet.Logging.Log4Net.Log4NetLoggerAdapter, TomNet.Logging.Log4Net"/>
      </adapters>
    </basic>
  </logging>
</tomnet>