
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>二维码工厂管理系统 - 未授权</title>
    <meta name="keywords" content="二维码工厂管理系统">
    <meta name="description" content="二维码工厂管理系统">
    <link rel="shortcut icon" href="favicon.ico">
    <link href="~/Content/Css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="~/Content/Css/font-awesome.css?v=4.4.0" rel="stylesheet">
    <link href="~/Content/Css/animate.css" rel="stylesheet">
    <link href="~/Content/Css/style.css?v=4.1.0" rel="stylesheet">
</head>
<body class="gray-bg">

    <div class="middle-box text-center animated fadeInDown">
        <h1>401</h1>
        <h3 class="font-bold">Unauthorized</h3>
        <div class="error-desc">
            您尚未得到访问授权，
            <br />您可以重新登录试试...
            <br /><a href="/Default/Login" class="btn btn-primary m-t">登录</a>
        </div>
    </div>
    <!-- 全局js -->
    <script src="~/Scripts/jquery.min.js?v=2.1.4"></script>
    <script src="~/Scripts/bootstrap.min.js?v=3.3.6"></script>
</body>
</html>
